@font-face {
  font-family: 'Socialico';
  src: url("fonts/Socialico/Socialico.eot");
  src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"),
    url("fonts/Socialico/Socialico.woff2") format("woff2"),
    url("fonts/Socialico/Socialico.woff") format("woff"),
    url("fonts/Socialico/Socialico.ttf") format("truetype"),
    url("fonts/Socialico/Socialico.svg") format("svg");
}

@font-face {
  font-family: "socialico-plus";
  src: url("fonts/SocialicoPlus/socialico-plus.eot");
  src: url("fonts/SocialicoPlus/socialico-plus.eot?#iefix") format("embedded-opentype"),
    url("fonts/SocialicoPlus/socialico-plus.woff2") format("woff2"),
    url("fonts/SocialicoPlus/socialico-plus.woff") format("woff"),
    url("fonts/SocialicoPlus/socialico-plus.ttf") format("truetype"),
    url("fonts/SocialicoPlus/socialico-plus.svg") format("svg");
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Arial', sans-serif;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

div,
article,
section,
dl,
dt,
dd,
table,
tr,
td,
ul,
ol,
li,
p,
span,
small,
em,
h1,
h2,
h3,
h4,
h5,
h6,
nav {
  padding: 0;
  margin: 0;
}

.row {
  max-width: 1620px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

/*cookie*/
.cc-animate.cc-revoke.cc-bottom {
  font-size: 14px;
  padding: 5px 10px;
  position: fixed;
  display: block !important;
  transform: none !important;
  bottom: 0 !important;
  left: 20px !important;
}

/*call to action*/
.destroy-on-load,
.cta {
  display: none;
}

/*typography*/
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
}

p,
ul,
nav ul li a,
.dropdown .dropbtn,
.dropdown-content a {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: .5px;
}

/*BUTTON*/
.btn {
  position: relative;
  overflow: hidden;
  z-index: 999;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 16px 0;
  width: 399PX;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #FFF;
  line-height: 1.2;
  border-radius: 50px;
  -webkit-appearance: inherit;

  background: linear-gradient(to TOP,
      #CC0000 0%,
      #CC0000 50%,
      #D63232 50%,
      #D63232 100%);

  transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.btn:hover {
  transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

/*FLEX*/
.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  /* -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap; */
}


img {
  width: 100%;
}

.to-db {
  display: block;
}

@media (max-width: 959px) {
  .to-db {
    display: inline;
  }
}

/*-----------------------------------------------HEADER-----------------------------------------------*/
#header {
  position: relative;
  width: 100%;
  z-index: 1000;
  top: 0;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#header.fixed {
  position: fixed;
  background-color: rgb(0 0 0 / 90%);
  min-height: 188px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#header.fixed .logo-holder img {
  max-width: 250px;
  transition: max-width 0.3s ease;
}

#header .header-con {
  position: absolute;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 19px;
}

#header .logo-holder img {
  max-width: 489px;
  margin-top: 13px;
}

#header .right {
  width: 100%;
  max-width: 806px;
  color: #fff;
}

#header nav a#pull {
  display: none
}

#header nav {
  position: relative;
  z-index: 999;
  width: 100%
}

#header nav ul {
  justify-content: space-between;
  display: flex;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  vertical-align: middle;
  padding: 20px 0 0 0;
}

nav ul li a,
.dropdown .dropbtn {
  font-weight: 700;
  color: #fff;
}

.nav-link {
  padding-bottom: 20px;
  display: inline-block;
  position: relative;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #fff;
}

.nav-link-fade-up::before {
  width: 100%;
  bottom: 5px;
  opacity: 0;
}

.nav-link-fade-up:hover::before {
  bottom: 10px;
  opacity: 1;
}

#header nav ul li.active-menu a,
#header nav ul li a:hover {}

#header .comp-info {
  justify-content: flex-end;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  align-items: center;
  gap: 24px;
  margin-top: 23px;
}

#header .comp-info .flex {
  gap: 10px;
  align-items: end;
}

#header .comp-info .address img {
  max-width: 22px;
}

#header .comp-info .phone {
  border: 2px solid #fff;
  padding: 15px 25px;
  border-radius: 50px;
  align-items: center;
}

#header .comp-info .phone a {
  font-size: 20px;
  font-weight: 700;
}

#header .dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  border: none;
  background-color: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {}

.dropdown:hover>.dropbtn {}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: opacity 0.3s ease;
  padding: 0 18px;
  border-radius: 10px;
}

.dropdown-content a {
  float: none;
  color: inherit;
  text-decoration: none;
  display: block;
  text-align: left;
  line-height: 46px;
  color: #000;
  font-weight: 600;
}

.dropdown-content a:hover {
  font-weight: 900;
  color: #CC0000;
}

.show {
  display: block;

}

/*-----------------------------------------------BANNER-----------------------------------------------*/
#banner {
  background: url('../images/content/bg-banner.jpg')no-repeat top;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  min-height: 1003px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner .banner-con {
  width: 100%;
}

#banner .top {
  text-align: left;
  padding-top: 112px;
}

#banner .ban-title {
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  line-height: 1.2;
  margin-bottom: 8px;
}

#banner .to-sm {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

#banner .btn {
  margin: 73px 0 0;
}

#ban-bottom {
  position: absolute;
  top: 12%;
  right: 0;
  transform: translate(0, 50%);
  width: 100%;
  max-width: 851px;
}

#ban-bottom .bottom-con {
  /* text-align: right; */
  background: linear-gradient(to bottom, #0F2FA5, #04185E);
  color: #fff;
}

#ban-bottom .bottom-con::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1px;
  width: 96px;
  height: 100%;
  background: linear-gradient(to bottom, #0F2FA5, #04185E);
  transform: skew(-27deg);
  transform-origin: 100% 0;
}


#ban-bottom .content {
  width: 100%;
  max-width: 720px;
  margin: auto;
  min-height: 182px;
  align-items: center;
}

#ban-bottom .box {
  text-align: center;
}

#ban-bottom .bottom-con .img1 img {
  max-width: 60px;
}

#ban-bottom .bottom-con .img2 img {
  max-width: 81px;
}

#ban-bottom .bottom-con .img3 img {
  max-width: 61px;
}

#ban-bottom p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  max-width: 208px;
  margin-top: 3px;
  letter-spacing: 0;
}

/*-----------------------------------------------CONTENT-----------------------------------------------*/
/*SERVICES*/
#services {
  background: url('../images/content/bg-services.jpg')no-repeat top;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 998px;
}

#services .row {
  padding-top: 132px;
}

#services h1 {
  color: #04195F;
  margin-bottom: 51px;
}

#services .services-con {
  width: 100%;
  max-width: 1362px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-content: space-between;
  grid-column-gap: 10px;
}

#services .box {
  height: 100%;
  width: 100%;
  max-width: 428px;
  min-height: 541px;
  display: flex;
  align-items: flex-end;
  color: #fff;
  justify-content: center;
  padding-bottom: 39px;
}

#services .serv1 {
  background: url('../images/content/service-img1.jpg')no-repeat top;
  -webkit-background-size: cover;
  background-size: cover;
}

#services .serv2 {
  background: url('../images/content/service-img2.jpg')no-repeat top;
  -webkit-background-size: cover;
  background-size: cover;
}

#services .serv3 {
  background: url('../images/content/service-img3.jpg')no-repeat top;
  -webkit-background-size: cover;
  background-size: cover;
}

#services .title {
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

#services .serv2-con .title {
  margin-bottom: 9px;
}

#services .serv2-con p {
  width: 100%;
  max-width: 320px;
  line-height: 1.7;
}

#services .btn-holder {
  margin-top: 54px;
}



/* about */
#about {
  background: url('../images/content/bg-about.jpg')no-repeat top center;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 1000px;
  align-items: center;
  display: flex;
}

#about .about-con {
  gap: 82px;
}

#about .left {
  display: flex;
  align-items: center;
}

#about .left .img-holder {
  max-width: 645px;
}

#about .right {
  width: 100%;
  max-width: 741px;
}

#about h1 {
  color: #CA202D;
  width: 100%;
  max-width: 519px;
  margin-left: auto;
  margin-bottom: 19px;
}

#about p {
  line-height: 1.7;
}

#about .btn-holder {
  margin-top: 49px;
}

#about .btn {
  margin: 0 0 0 auto;
}


/* section */
#section {
  background: url('../images/content/bg-section.jpg')no-repeat top;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 503px;
  color: #fff;
  display: flex;
  align-items: center;
}

#section p {
  font-size: 18px;
  width: 100%;
  max-width: 714px;
  margin: 19px auto 55px;
}



/*gallery*/
#gallery {
  background: url('../images/content/bg-gallery.jpg')no-repeat top center;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 1000px;
  align-items: center;
  display: flex;
}

#gallery h1 {
  text-align: left;
  color: #CA202D;
  width: 100%;
  max-width: 495px;
}

#gallery img {
  display: block;
  margin: 10px;
  box-shadow: 21px 24px 15px -17px rgba(0, 0, 0, 0.45);
}


/*testimonials*/
#testimonials {
  background: url('../images/content/bg-testimonials.jpg')no-repeat top;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 497px;
  color: #fff;
  display: flex;
  align-items: center;
}

#testimonials .row {
  width: 100%;
  max-width: 714px;
  margin-top: -56px;
}

#testimonials .remarks {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  line-height: 1.7;
  margin: 60px 0 50px;
}

#testimonials .auth {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

#testimonials .stars {
  color: #FFFF00;
  font-size: 30px;
  line-height: 1.2;
}


/*CONTACT*/
#contact {
  position: relative;
  background: #000;
  padding-top: 1px;
}

#contact .box {
  background: #fff;
  min-height: 661px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-top: -68px;
}

#contact .contact-con {
  width: 100%;
  max-width: 1366px;
  margin: auto;
}

#contact .foreword {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  letter-spacing: 3px;
  color: #333333;
  font-weight: 700;
}

#contact h1 {
  background: linear-gradient(to bottom, #0F2FA5, #04185E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#contact .to-sm {
  font-family: 'Myriad Pro', sans-serif;
  color: #333333;
  line-height: 1.8;
  letter-spacing: .3px;
  font-weight: 400;
  margin: 20px 0 18px;
}

#contact .ctc-form label {
  width: 33%
}

form .messages p {
  display: none;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  font-size: 16px !important;
}

form .loading {
  display: none;
}

form .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

form .alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

form .alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.ctc-form {
  margin: 0 auto;
  text-align: center;
}

.ctc-form input[type="text"],
.ctc-form textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #202020;
  height: 60px;
  display: block;
  width: 100%;
  border: none;
  padding: 5px 24px;
  box-sizing: border-box;
  margin: 0 auto 8px;
  resize: none;
  background: #EEEEEE;
}

.ctc-form ::placeholder,
.ctc-form label {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #333333;
  line-height: 1.8;
  letter-spacing: .03px;
  text-align: left;
}

.ctc-form .flex {
  align-items: start;
  margin-top: 15px;
}

.ctcCheckbox label {
  font-size: 14px;
}

.ctc-form ::placeholder {
  color: #545454
}

.ctc-form textarea {
  height: 150px;
  padding-top: 10px;
}

.ctc-form .ctcBtn {
  display: block;
  border: none;
  width: 202px;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  padding: 21px 0;
}

.ctc-form .recap {
  display: inline-block;
}

.ctc-form .g-recaptcha div {
  margin: 0 auto 10px;
}

.ctc-form .ctc-hide {
  display: none;
}


/*-----------------------------------------------FOOTER-----------------------------------------------*/
#footer {
  background: #000;
  color: #fff;
  position: relative;
}

#footer .row .footer-con {
  align-items: center;
  padding-top: 68px;
}

#footer .logo-holder {
  margin-left: 21px;

}

#footer .logo-holder img {
  max-width: 365px;
}

#footer .comp-info .flex {
  gap: 32px;
}

#footer .comp-info .content {
  align-items: center;
  gap: 14px;
}

#footer .comp-info img {
  max-width: 70px;
}

#footer .comp-info .label {
  font-family: 'Poppins', sans-serif;
  color: #CA212E;
  font-weight: 600;
  font-size: 15px;
}

#footer .comp-info a {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.47;
}

#footer .phone a {
  font-size: 24px;
}

#footer .location .text-left {
  width: 100%;
  max-width: 252px;
}

#footer .nav-holder {
  width: 100%;
}

#footer nav {
  width: 100%;
  max-width: 806px;
  margin: 50px auto 0;
}

#footer nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer nav ul li {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  box-sizing: border-box;
}

#footer nav ul li a {}

#footer .copyrights {
  padding-bottom: 20px;
}


.techno img {
  width: 52px;
  margin: 0 5px -14px;
}








/*---------------------------------------inner pages-------------------------------------------*/
.inner #content {
  min-height: 400px;
  padding: 40px 0;
  max-width: 1300px;
  margin: 0 auto
}

.inner #content h1,
.inner #content h2 {
  color: #CA202D;
  margin-bottom: 35px;
}

.inner #content p {
  line-height: 1.7;
}

.inner #content .btn-holder {
  margin-top: 35px;
}

.inner #banner {
  min-height: 748px;
  align-items: end;
  padding-bottom: 39px;
}

.inner #ban-bottom {
  display: none;
}

.inner #about,
.inner #services,
.inner #testimonials,
.inner #gallery,
.inner #contact {
  background: none;
  color: #000;
}

.inner #contact .box {
  margin: 0;
}

/*inner gallery*/
.img-responsive {
  max-width: 459px;
  min-height: 277px;
  -o-object-fit: cover;
  object-fit: cover;
}

#content .gallery-container {
  text-align: center;
  margin-top: 54px;
}

#content .gallery {
  /* list-style-type: none;
  margin: 0;
  padding: 0; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  max-width: 100%;
}

#content .gallery li {
  display: inline-block;
}

#content .thumbnail {
  border-radius: 4px;
  display: block;
  transition: border 0.5s ease-in-out 0s;
}

#content .thumbnail:hover {
  transform: scale(1.02);
}

#content .page_navigation {
  display: inline-block;
}

#content .page_link,
#content .previous_link,
#content .next_link,
#content .first_link,
#content .last_link,
#content .ellipse {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #0275d8;
  display: inline-block;
  line-height: 1.25;
  margin-left: -1px;
  padding: 0.5rem 0.75rem;
  position: relative;
}

#content .page_navigation>a:hover,
.page_navigation>a.active_page {
  background-color: #eceeef;
  border-color: #ddd;
  color: #014c8c;
  text-decoration: none;
}

.inner #content .gallery-container {
  margin-bottom: 20px
}




/*privacy policy*/
.inPrivacyBox {
  max-width: 850px;
  margin: 0 auto;
}

.inPrivacyBox p {
  text-align: justify !important;
}


/* effect/animation */
.cssanimation {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeInBottom {
  animation-name: fadeInBottom
}

.fadeInLeft {
  animation-name: fadeInLeft
}


@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1
  }
}

@keyframes fadeInLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}

.active.fade-left {
  animation: fade-left 1s ease-in;
}

.active.fade-right {
  animation: fade-right 1s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.con-hvr-underline {
  padding: 5px 0;
  background: #fff;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.con-hvr-underline:before {
  content: '';
  background: #fff;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;

}

.con-hvr-underline:hover {
  background-position: 0;
}

.con-hvr-underline:hover::before {
  width: 100%;
}



/*RESPONSIVE*/
@media screen and (max-width: 1440px) {}


/*1200*/
@media screen and (max-width: 1439px) {}

@media screen and (max-width: 1200px) {
  body {
    min-width: 320px
  }
}

/*1024*/
@media screen and (max-width: 1199px) {}

/*960*/
@media screen and (max-width: 1023px) {}

/*768*/
@media screen and (max-width: 959px) {

  /* #header .row {
    width: 100%;
    padding: 0;
  }

  #header nav {}

  #header nav ul {
    width: 100%;
    display: none;
    height: auto;
    border-bottom: 5px solid #000;
    padding: 0 15px;
  }

  #header nav ul li {
    width: 100%;
    position: relative;
  }

  #header nav ul li a {
    padding: 10px 0;
    text-align: left;
    width: 100%;
  }

  #header nav a strong {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
  }

  #header nav a#pull {
    display: block;
    color: #fff;
    background-color: #000;
    height: 60px;
    padding: 10px 0;
    width: 100%;
    position: relative;
  }

  #header nav a#pull:after {
    content: "";
    background: url('../images/nav-icon.png') no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }

  .cta {
    background: #035B96 url("../images/common/phonecall.png") no-repeat center center;
    border-bottom-left-radius: 40px;
    border-top: 2px solid #013f9a;
    border-top-left-radius: 40px;
    bottom: 10%;
    display: block;
    height: 60px;
    position: fixed;
    right: 0;
    text-decoration: none;
    text-indent: -9999em;
    width: 60px;
    z-index: 999;
  } */


}


/*425*/
@media screen and (max-width: 767px) {}


/*375*/
@media screen and (max-width: 424px) {}

/*320*/
@media screen and (max-width: 374px) {}